body {
    display: block;
    background-image: url("../img/bg_high.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    justify-content: center;
}

#img_convite {
    display: block;
    margin: 30px auto 10px auto;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 15px 2px black;
    animation: zoom-in-zoom-out 1s ease 1 normal forwards;
}

audio {
    display: block;
    margin: 30px auto 0 auto;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(0, 0);
    }
    80% {
        transform: scale(1.1, 1.1);
    }
    100% {
        transform: scale(1.0, 1.0);
    }
}